<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonComposition.Source" version="0.2.4" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" developmentDependency="true" />
  <package id="Octokit" version="0.4.1" targetFramework="net45" />
  <package id="SemanticGit" version="1.0.10" targetFramework="net45" developmentDependency="true" />
  <package id="Tracer" version="1.1.7" targetFramework="net45" developmentDependency="true" />
</packages>