<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.SignalR.Client" version="2.1.1" targetFramework="net45" />
  <package id="netfx-System.AppDomainData" version="1.1.0.3" targetFramework="net45" />
  <package id="netfx-System.Collections.Generic.DictionaryGetOrAdd" version="1.1.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="Tracer" version="1.1.7" targetFramework="net451" />
  <package id="Tracer.SystemDiagnostics" version="1.1.9" targetFramework="net451" />
</packages>