<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.0" targetFramework="net45" />
  <package id="Autofac.Extras.CommonServiceLocator" version="3.2.0" targetFramework="net45" />
  <package id="Autofac.WebApi2" version="3.3.3" targetFramework="net45" />
  <package id="CommonComposition.Autofac.Source" version="0.2.3" targetFramework="net45" />
  <package id="CommonComposition.Source" version="0.2.3" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="netfx-Guard" version="1.3.3.2" targetFramework="net45" />
  <package id="netfx-System.AppDomainData" version="1.1.0.0" targetFramework="net45" />
  <package id="netfx-System.Collections.Generic.DictionaryGetOrAdd" version="1.1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="Octokit" version="0.3.5" targetFramework="net45" />
  <package id="Octokit.Reactive" version="0.3.5" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.4" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.4" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.4" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.4" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.4" targetFramework="net45" />
  <package id="SemanticGit" version="1.0.2" targetFramework="net45" />
  <package id="Tracer" version="1.1.7" targetFramework="net45" />
  <package id="Tracer.Realtime" version="1.0" targetFramework="net45" />
  <package id="Tracer.SystemDiagnostics" version="1.1.9" targetFramework="net45" />
</packages>